<h1>About</h1>

<p>
This site was made by Frank Alvino. I created this site to display the 50 greatest
NBA players of all time. Right now, users are not allowed to add players to this 
list, but I am hoping that in the future this function will be present. I am 
planning on adding in a login function and a comment functoin. Users can login
and not only add players to this list, but they can discuss the order of the 
players.
</p>